  
  
  /* iframe을 위해 정렬, 기본 마진 없애기 */
  body {
      display: flex;
      margin: 0;
    }

    /* 칸 8x8 만들기 */
    .board {
      display: grid;
      grid-template-columns: repeat(8, 60px);
      grid-template-rows: repeat(8, 60px);
      border: 4px solid black;
    }

    /* 기물 이미지 중앙 정렬 */
    .cell {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* 보드 칸 색 */
    .cell.white { background-color: #f0d9b5; }
    .cell.black { background-color: #b58863; }

    /* 기물 이미지 크기 */
    img {
      width: 50px;
    }

    /* 선택된 칸 테두리 */
    .cell.selected {
      outline: 3px solid red;
      outline-offset: -3px;
    }